@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #ffd32a;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  margin-bottom: 0;
}

h1 + p {
  margin-top: 0;
}

form {
  background-color: #fff;
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.4);
  border-radius: 25px;
  padding: 30px 20px
}

.form-control {
  text-align: left;
  margin-bottom: 20px;
}

.form-control label {
  display: block;
  margin-bottom: 6px;
}

.form-control input, .form-control select, .form-control textarea {
 display: block;
 width: 100%;
  padding: 5px;
 border-radius: 10px;
  border: 1px solid #111;
  font-size: 16px;
  font-family: inherit;
}

.form-control input[type="radio"], .form-control input[type="checkbox"] {
  width: auto;
  display: inline-block;
  
}

button {
 background-color: #FFFF99; 
 width: 100%;
 display: block;
 padding: 10px;
 border-radius: 10px;
  border: 1px solid #FFFF99;
  font-family: inherit;
  font-size: 16px;
  
}